<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IZ*ONE</title>
    <style>
        .intro{font-size:20px;}
        #orange{color:orange;}
        #record{background-color:orange; color:white;}
        #cute{font-size:30px; color:orange;}
        #debut{background-color:black; color:pink;}
    </style>
    
</head>
<body>
    <h1> 조유리 in 아이즈원</h1>
    <table>
        <tr>
            <td class = "intro">대국민 오디션 프로듀스48 에서 <span id = "record">3위</span>를 차지했다.<br>
                2018년 10월 29일 <span id = "debut">아이즈원</span>으로 데뷔하였다.</td>
        </tr>
        <tr>
            <td class = "intro">아이즈원 내에서는 메인보컬 포지션으로 활동했다.</td>
        </tr>
        <tr>
            <td class = "intro">상징색은 <span id = "orange">오렌지</span>이며 별명으로는 조구리, 조희지등이 있다.</td>
        </tr>
        <tr>
            <td class = "intro">그리고 조유리는 <span id = "cute">커</span>가 맞다.</td>
        </tr>

    </table>
</body>
</html>