<script src='../materials/raise_words.js'></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "http://localhost:11029/login", method = "POST">
        <p>ID : <input type = "text", id = "id", onkeyup = "if(this.value.match(/[ ]/)) { window.alert('No input Blank'); this.value = ''; return false; }",  placeholder = "ID"></input> </p>
        <p>PW : <input type="password", id = "password", onkeyup = "if(this.value.match(/[ ]/)) { window.alert('No input Blank'); this.value = ''; return false; }",  placeholder = "Password"></input> </p>
        <input type = "submit", id = "submit", value = "Submit"></input>
    </form>
</body>
</html>
